.body {
    background-color: rgb(203, 204, 193);
}

.setbar {

    background-color: rgb(245, 216, 137);


}


a {
    margin: 0;
    padding: 0;
    padding-left: 15px;
}

.liytle_h {
    padding-top: -20px;
    padding-left: 10px;

}



li {
    padding: 12px;
}

.liytle-h {


    padding-left: 100px;
}

.columns {
    display: flex;
}

.contacts {
    padding-left: 30px;
}

.content {
    display: flex;
}

.div {
    padding-left: 200px;
}

.div_ {
    padding-left: 300px;
}

.img {
    height: 280px;
    padding: 200px, 40px, 60px, 80px;

}

h2 {
    font-size: 21px;
}

h1 {
    font-size: 26px;
}