body  {
  padding: 0;
  margin: 0;
  width: 100%;
  background: linear-gradient(to top left, #031412, #066440);
  background-repeat: no-repeat; /* Забороняємо повторення фону */
  background-attachment: fixed; /* Фон зафіксований, щоб не прокручувався зі сторінкою */
  background-size: cover; /* Заповнюємо всю доступну область екрану градієнтом */
}

#corner-image {
  position: fixed;
  opacity: 0.5;
  right: 0;
  bottom: 0;
  height: 50%; /* Змініть розмір зображення на ваш вибір */
  width: auto;
  z-index: 1; /* Забезпечуємо, що зображення буде поверх інших елементів */
}
#color_bord{
  position: fixed;
  background-color: gray;
  opacity: 0.3;
  left: 0;
  top: 0;
  bottom: 0;
  height: 50%;
  z-index: 1;
  width: auto;
}
header {
  
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  position:fixed;
  z-index: 1;
  display:flex; 
  justify-content: space-between;
}
img.logo{
  height: 30px;
  width: 100px;
  padding: 10px;
}
.contact_img {
  margin-top: 5px;
  margin-right: 10px;
}
img.contact{
  height: 40px;
  margin-right: 5px;
}

main{
  border: #042520, 3px;
  position: absolute;
  margin: 40px;
  max-width: 30%;
  padding-top: 60px;
  
}
article{
  color: #ffffff;
  padding-bottom: 10px;
  font-size:16px;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  text-align: justify
  

}
h1{
  font-size: 30px;
  text-shadow: 2px 2px 4px rgb(59, 4, 4);
}
ul {
  list-style-type: none;
   /* Використовуємо flexbox для розміщення елементів списку на одному рядку */
  padding: 0; /* Видаляємо внутрішні відступи списку */
}
li {
  margin-bottom: 10px; /* Задаємо відступи між пунктами списку */
  display: flex; /* Використовуємо flexbox для центрування тексту */
  align-items: center; /* Вирівнюємо текст вертикально по центру */
}
li::before {
  content: ""; /* Додаємо зображення через псевдоелемент ::before */
  background-image: url('img/Vector.png');
  background-size: contain; /* Змінюємо розмір зображення для вміщення в контейнер */
  width: 30px; /* Задаємо ширину зображення */
  height: 30px; /* Задаємо висоту зображення */
  margin-right: 10px; /* Задаємо відступ між зображенням та текстом */
}